.block-ticket
{
    position: relative;
    width: 80%;
    margin: auto;
}

.etape
{
    position: relative;
    opacity: 0.3;
}

.label_input
{
    display: block;
}

.input
{
    position: relative;
    width: 98%;
}

.datasectionetape
{
    display: none;
}

.dataclick2
{
    display: none;
}

.payer
{
    position: relative;
    width: fit-content;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto 0px auto;
    display: block;
    background-color: rgb(200, 200, 200);

}

.labelpromo
{
    position: relative;
    display: block;
    text-align: center;
    font-family: var(--font1);
    font-size: var(--fontsize4);
}

.inputpromo
{
    position: relative;
    display: block;
    font-size: var(--fontsize4);
    margin: auto;
}