.formulary
{
    position: relative;
    width: 70%;
    font-family: var(--font3);
}
.block_body
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color:rgb(255, 249, 242);
}

.block_contact
{
    position: relative;
    width: 100%;
    padding: 1%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}


.title
{
    position: relative;
    font-family: var(--font3);
    font-size: var(--fontsize4);
}



.labelinput
{
    position: relative;
    display: block;
    font-size: var(--fontsize2);
}

.block_contact input, .block_contact textarea
{
    border-top: none;
    border-right: none;
    border-left: none;
}

input, textarea
{
    background-color: rgb(216, 216, 216);
}
.envoyercontact
{
    border: none;
    font-size: var(--fontsize2);
}