.container-Menu
{
    position: relative;
    width: 100%;
    z-index: 10;
    background-image: linear-gradient(90deg, var(--color3), var(--color4));
}

.Menu
{
    position: relative;
    width: 90%;
    z-index: 10;
    padding: 10px 0px !important;
    border-radius: 100px;
    margin: auto !important;
}
.menuafterScroll
{
    background-image: linear-gradient(90deg, var(--color3), var(--color4));
}
.menuforScroll
{
    position: fixed;
    top: 0;
    width: 100%;
}

.container-Menu *
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Menu > li
{
    position: relative;
    flex: 1 1 auto;
    font-family: var(--font2);
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    color: var(--color1);
}


.menuScroll
{
    top: 0 !important;
    padding: 10px 0px;
    z-index: 10;
    transition-duration: 0.3s;
    transform: translateY(-100%);
}
.Menu a
{
    color: var(--color1);
    text-decoration: none;
}
.TitleSelect > a
{
    font-family: var(--font1) !important;
}

.subMenu
{
    position: absolute;
    top: 100%;
    z-index: 100;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    transition-duration: 0.7s;
    background-color: var(--color3);
    max-height: 0;
}

.Menu > li:hover > .subMenu
{
    max-height: 100vh;
}

.subMenu > li:hover
{
    transform: translateX(1%);
    background-color: var(--color1);
}

.subMenu > li:hover a
{
    color: var(--color2);
    
}
.basketImage
{
    position: relative;
    background-image: url("../../images/basket.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    
}


.textBasket
{
    position: relative;
    border-radius: 1000px;
    background-color: white;
    font-family: var(--font1);
    color:rgb(65, 0, 217) !important;
    padding: 0% 6%;
    box-shadow: 0px 0px 1px black;
    width: fit-content;
    margin: auto;
    transform: translateX(100%);
    display: block;

}

.mobileBar
{
    display: none;
}

@media screen and (max-width: 450px)
{
    .Menu
    {
        flex-direction: column;
        min-height: 100vh;
    }

    .Menu > li
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--fontsize4);
    }

    .Menu > .basketImage
    {
        display: none;
    }

    .mobileBar
    {
        position: relative;
        width: 100%;
        height: 10vh;
        z-index: 11;
        background-color: var(--color3);
    }
    

    .menuforScroll
    {
        position: absolute;
        background-image: linear-gradient(90deg, var(--color3), var(--color4));
        max-height: 0;
        overflow: hidden;
    }

    .mobileMenu
    {
        position: relative;
        width: 70px;
        height: 70px;
        box-shadow: 0px 0px 10px rgb(231, 227, 204);
        background-color: var(--color1);
        border-radius: 100px;
        padding: 1%;
    }

    .barMenu
    {
        position: relative;
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .barMenu > div
    {
        position: relative;
        width: 70%;
        border-radius: 80px;
        height: 39%;
                background-color: var(--color3);

    }

    .mobilesubmenu
    {
        position: relative;
        width: 100%;
        height: 70%;
    }

    .basketblock
    {
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0% 10% 0% 0%;
        height: 100%;
    }

    .textBasket
    {
        transform: translateX(0%);
        font-size: var(--fontsize4);
        margin: 0;
    }

    .container-Menu
    {
        z-index: 10;
    }
}