.container-Menu
{
    position: relative;
    width: 100%;
    z-index: 10;
    background-color: grey;
}

.Menu
{
    position: relative;
    width: 90%;
    z-index: 10;
    padding: 10px 0px !important;
    border-radius: 100px;
    margin: auto !important;
}
.menuafterScroll
{
    background-color: rgba(128, 128, 128, 0.41);
}
.menuforScroll
{
    position: fixed;
    top: 0;
    width: 100%;
}

.container-Menu *
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Menu > li
{
    position: relative;
    flex: 1 1 auto;
    font-family: var(--font2);
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    color: var(--color1);
}


.menuScroll
{
    top: 0 !important;
    padding: 10px 0px;
    z-index: 10;
    transition-duration: 0.3s;
    transform: translateY(-100%);
}
.Menu a
{
    color: var(--color1);
    text-decoration: none;
}
.TitleSelect > a
{
    color: rgb(203, 203, 0) !important;
}

.subMenu
{
    position: absolute;
    top: 100%;
    z-index: 100;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    transition-duration: 0.2s;
    max-height: 0;
}

.subMenu li
{
    background-color: rgb(80, 80, 80);
    border: 1px solid var(--color2);
}
.Menu > li:hover > .subMenu
{
    max-height: fit-content;
}

.subMenu > li:hover
{
    transform: translateX(1%);
    background-color: var(--color1);
}

.subMenu > li:hover a
{
    color: var(--color2);
    
}
.basketImage
{
    position: relative;
    background-image: url("../../images/basket.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    
}


.textBasket
{
    position: relative;
    border-radius: 1000px;
    background-color: white;
    font-family: var(--font1);
    color:rgb(65, 0, 217) !important;
    padding: 0% 6%;
    box-shadow: 0px 0px 1px black;
    width: fit-content;
    margin: auto;
    transform: translateX(100%);
    display: block;

}