.block_body
{
    position: relative;
    min-height: 100vh;
}

.block_newCommande
{
    position: relative;
    box-shadow: 0px 0px 10px black;
    width: 30%;

}

.legend
{
    position: relative;
    width: fit-content;
    display: block;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 10px black;
    padding: 1%;
}
