.contains-product
{
    position: relative;
    width: 100%;
    height: 100vh;
}

.product
{
    position: relative;
        background-color: rgb(197, 197, 197);
    font-family: var(--font2);
    font-size: var(--fontsize4);
    width: 80%;
    height: 90%;
    padding: 1%;

}

.description
{
    position: relative;
    text-align: start;
    
}

.price
{
    position: relative;
    text-align: end;
}

.blockimage
{
    position: relative;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}